archives/
match_model.egg-info/
RESEARCH/
#exclude the model run folder except for the example directory
!MODEL_RUNS/
MODEL_RUNS/*
!MODEL_RUNS/model_inputs.xlsx
!MODEL_RUNS/example/
MODEL_RUNS/example/*
!MODEL_RUNS/example/model_inputs.xlsx

*pyc
**parse_table_datacmds.py
.idea
.DS_Store
gurobi.log

venv
build*/
dist*/
autodoc*

.vscode/
__pycache__/

# cbc files
cbc.exe
coin-license.txt