archives/
switch_model.egg-info/
RESEARCH/
#exclude the model run folder except for the example directory
!MODEL_RUNS/
MODEL_RUNS/*
!MODEL_RUNS/model_inputs.xlsx
!MODEL_RUNS/generic_office_example/
MODEL_RUNS/generic_office_example/*
!MODEL_RUNS/generic_office_example/model_inputs.xlsx
# include the nrel cambium data for lfs
!MODEL_RUNS/nrel_cambium/

*pyc
**parse_table_datacmds.py
.idea
.DS_Store
gurobi.log

venv
build*/
dist*/
autodoc*

.vscode/
__pycache__/

# cbc files
cbc.exe
coin-license.txt